@font-face {
  font-family: PrimaryFont;
  src: url(../fonts/bravo.otf); }
@font-face {
  font-family: SecondaryFont;
  src: url(../fonts/Candara.ttf); }
.link {
  text-decoration: none;
  color: #bdbdbd;
  position: relative; }
  .link:link {
    text-decoration: none; }
  .link:visited {
    color: #767676;
    text-decoration: none; }
  .link:hover {
    background-color: #465461;
    color: #ffffff;
    text-decoration: none; }
  .link:active {
    color: #2b2b2b;
    text-decoration: none; }

html,
body {
  height: 100%;
  margin: 0; }

body {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  line-height: 1;
  font-family: PrimaryFont;
  color: #000000;
  background-color: #aaaaaa; }
  body .aside_menu {
    display: none;
    width: 15%;
    height: 500px;
    background-color: #ffffff;
    float: left; }
  body .wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color: #ffffff;
    flex: 1; }
    body .wrapper .header {
      background-color: #121518;
      display: flex;
      height: auto;
      justify-content: space-between; }
      body .wrapper .header div {
        display: flex;
        justify-content: space-between; }
        body .wrapper .header div .logo {
          display: block;
          background-image: url(../img/logo_or.png);
          background-repeat: no-repeat;
          background-size: cover;
          width: 170px;
          height: 68px; }
        body .wrapper .header div .show-menu {
          display: none; }
    body .wrapper .welcome {
      margin: 0 auto;
      padding: 2vw;
      font-size: 3rem;
      font-variant: small-caps; }
    body .wrapper .main .block_new_in {
      background-color: #465461;
      height: min-content;
      padding: 2vw;
      margin-bottom: 2vw; }
      body .wrapper .main .block_new_in h2 {
        font-size: 2.5rem;
        margin-bottom: 1vw;
        color: #121518; }
        body .wrapper .main .block_new_in h2 span {
          color: #ffffff; }
      body .wrapper .main .block_new_in .news_container {
        display: flex;
        overflow-x: auto; }
  body .footer {
    font-family: SecondaryFont;
    padding: 3vw;
    background-color: #121518;
    color: #ffffff;
    text-align: center; }

@media screen and (max-width: 479px) {
  body .wrapper {
    width: 100%; }
    body .wrapper .main .block_new_in {
      background-color: #465461;
      height: min-content;
      padding: 5vw 0;
      margin-bottom: 2vw; }
      body .wrapper .main .block_new_in h2 {
        padding: 2vw;
        font-size: 2.5rem;
        margin-bottom: 1vw;
        color: #121518; }
        body .wrapper .main .block_new_in h2 span {
          color: #ffffff; }
      body .wrapper .main .block_new_in .news_container {
        display: flex;
        overflow-x: auto; } }
@media screen and (min-width: 480px) and (max-width: 659px) {
  body .wrapper {
    width: 100%; }
    body .wrapper .main .block_new_in {
      background-color: #465461;
      height: min-content;
      padding: 4vw 0;
      margin-bottom: 2vw; }
      body .wrapper .main .block_new_in h2 {
        padding: 2vw;
        font-size: 2.5rem;
        margin-bottom: 1vw;
        color: #121518; }
        body .wrapper .main .block_new_in h2 span {
          color: #ffffff; }
      body .wrapper .main .block_new_in .news_container {
        display: flex;
        overflow-x: auto; } }
@media screen and (min-width: 660px) and (max-width: 767px) {
  body .wrapper {
    width: 100%; }
    body .wrapper .main .block_new_in {
      background-color: #465461;
      height: min-content;
      padding: 3vw 0;
      margin-bottom: 2vw; }
      body .wrapper .main .block_new_in h2 {
        padding: 2vw;
        font-size: 2.5rem;
        margin-bottom: 1vw;
        color: #121518; }
        body .wrapper .main .block_new_in h2 span {
          color: #ffffff; }
      body .wrapper .main .block_new_in .news_container {
        display: flex;
        overflow-x: auto; } }
@media screen and (min-width: 768px) and (max-width: 959px) {
  body .wrapper {
    width: 100%; } }
@media screen and (min-width: 960px) and (max-width: 1199px) {
  body .wrapper {
    width: 85%; } }
@media screen and (min-width: 1200px) {
  body .wrapper {
    width: 70%; } }

/*# sourceMappingURL=style.css.map */
